@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
} 

body { 
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*determina o tamanho do body para a altura da tela do usuário, no mínimo, assim nunca fica sobrando tela abaixo do footer*/
}

header{
    display: flex;
    justify-content: center;  
    align-items: center;            /* Centraliza verticalmente */
    padding: 10px 20px;
    background-color: #3DC3E4;
}

#paginas, li, a{
    display: flex;
    align-items: center;
    margin: 5px;
    text-decoration: none;
    gap: 25px;
}

main{  
    margin: 4%;
    flex-grow: 1; /*dtermmina que o main deverá crescer proporcionalmente ao tamanho total do espaço entre o header e o footer*/
}

footer{
    display: flex;
    justify-content: space-between;  /* Distribui os itens igualmente */
    align-items: center;            /* Centraliza verticalmente */
    padding: 10px 20px;
    background-color: #3DC3E4;
    flex-shrink: 0; /*determina que o footer não deverá encolher na mudança de tamanho da tela e distribuição de outros elementos*/
}

#textoDireitos {
    margin: 0 15px;               
    text-align: center;
    font-size: 0.9em;
    flex-grow: 1;  /* Ocupa espaço disponível no centro */
    font-family: "Montserrat Alternates", sans-serif;
}

/*------------------------------------------*/
/*-----------------CSS HOME-----------------*/
/*------------------------------------------*/

#mainHome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#articleHome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }

#FotoSf2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#FotoSf4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#h1Home {
    display: flex;
    justify-content: center;

}

a {
    color: rgb(3, 8, 39);
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}

.botaoHome {
    background-color: #3DC3E4;
    border: 0;
}

/*------------------------------------------*/
/*-------------CSS FORMULARIOS--------------*/
/*------------------------------------------*/

#mainFormulario2 {
    display: flex;
    justify-content: center;
}

.sf2-container , .sf4-container {
    width: 90%;
    margin: 0 auto;
}

.sf2-form, .sf4-form {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.sf2-coluna , .sf4-coluna {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 80px;
}

.sf2-campo , .sf4-campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sf2-input , .sf4-input {
    background-color: rgb(101, 214, 240);
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.sf2-textarea, .sf4-textarea {
    background-color: rgb(101, 214, 240);
    border: none;
    border-radius: 15px;
    height: 120px;
    padding: 10px;
    resize: none;
}


.sf2-btn, .sf4-btn {
    flex-basis: 100%;
    max-width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

label {
    font-size: medium;
    font-weight: bold;
}

#resultado{
    width: 500px;

    margin: 30px auto;

    padding: 20px;

    border: 1px solid black;

    border-radius: 10px;

    text-align: center;

    background-color: white;
}
/*------------------------------------------*/
/*-------------CSS RELATÓRIO----------------*/
/*------------------------------------------*/


#relatorioMainSf2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
}

.articleRelat2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.formRelat2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    margin-top: 40px;
}

.campoRelatorio {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.campoRelatorio label {
    font-size: 20px;
}

.campoRelatorio select {
    width: 165px;
    padding: 10px;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}

.campoRelatorio input {
    width: 130px;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background-color: #3DC3E4;
}

.formRelat2 button {
    padding: 10px 19px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

